* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: black;
    border-radius: 15px;
}

.display {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: min(320px, 80vw);
    height: 120px;
    margin-bottom: 32px;
    border: 2px solid black;
    border-radius: 5px;
}

.display-panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 8px;
}

.display-panel--operation {
    font-size: 16px;
    flex: 1;
}

.display-panel--input {
    font-size: 32px;
    font-weight: 900;
    flex: 2;
}

.numberpad {
    --gap: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    width: min(320px, 80vw);
}

.calc-btn {
    box-sizing: border-box;
    flex: 0 0 calc((100% - (var(--gap) * 3)) / 4);
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    font-size: 32px;
    border: none;
}

.calc-btn:hover {
    filter: brightness(90%);
}

.calc-btn:active {
    border: 1px solid black;
    filter: brightness(90%);
    transform: translateY(2px);
}

.calc-btn--number {
    background-color: white;
}

.calc-btn--operator {
    background-color: orange;
}

.calc-btn--control {
    background-color: lightgray;
}